<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIKER-LOGIN</title>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div class="container">
    <div class="titulo">
        <h1>Bienvenido Tecnico</h1>
    </div>

    <form class="form-control">
        <img src="media/logito_quik.jpg" class="logo" alt="logo_quick">
        <input type="text" class="credenciales" placeholder="USUARIO">
        <input type="password" class="credenciales" placeholder="CONTRASEÑA">
        <button class="login" onclick="cargaMenu();">INGRESAR</button>
    </form>

</div>
<script src="js/scrip.js"></script>
</body>
</html>